[run]
source = topydo
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

omit =
    topydo/commands/ExitCommand.py
    topydo/lib/Version.py
