*.py[cod]
*.sw?
install
.coverage

# Distribution / packaging
.Python
env/
env*/
build/
develop-eggs/
dist/
eggs/
htmlcov/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs/

# Sublime Text
*.sublime-*

!/topydo/lib/
