*.py[cod]
*.sw?
*.un~
install
.coverage
*,cover
/.todo.bak
/todo.txt
/done.txt

# Distribution / packaging
.Python
env/
env*/
build/
develop-eggs/
dist/
eggs/
htmlcov/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs/
.idea/
__pycache__/

# Sublime Text
*.sublime-*

!/topydo/lib/
